<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-5 border-bottom">
  <div>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <img src="../assets/logo-old.svg" alt="{{ site.title }} Logo" class="site-logo custom-spacing spin-effect" width="35" height="35" />
      <span class="fs-4 fw-bold ms-2">{{ site.title }}</span> <!-- Adjusted spacing with 'ms-2' -->
    </a>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <span>{{ site.description }}</span>
    </a>
  </div>
  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    {% for item in site.data.settings.menu %}
      <a class="me-3 py-2 text-decoration-none" href="{{ site.github.url }}{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
</header>

<style>
  .spin-effect {
    display: inline-block;
    transition: transform 1s ease;
    margin-right: 0.75rem; /* Slightly increased margin for spacing */
  }

  .spin-effect:hover {
    transform: rotate(360deg); /* Spins the image around fully */
  }

  .spin-effect:active {
    transition: none; /* Ensures the image stops where the user clicks */
  }
</style>
