---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">Crosswords</h3>

<p><strong>Comment:</strong> I was very upset when the NYT rejected this one. Not upset enough to cancel my subscription, obviously.</p>

<iframe style="height: 90vh; width: 100%;" src="https://crosshare.org/embed/eM316Bbk7YLVVo5JHnAV/tFZ2g5x0AoaseEOCX55dTZOaBXt2" frameborder="0" allowfullscreen="true" allowtransparency="true" allow="clipboard-write *"></iframe>



<!-- Comment for Crossword 1 -->
<p><strong>Comment:</strong> This is my best puzzle. I submitted it a few years ago to the NYT, and was told I had "good puzzling instincts", but it was tragically rejected. I still feel as though it is a strong puzzle.</p>

<iframe style="height: 90vh; width: 100%;" src="https://crosshare.org/embed/SogpBqeyEoE6ErN8NvU6/tFZ2g5x0AoaseEOCX55dTZOaBXt2" frameborder="0" allowfullscreen="true" allowtransparency="true" allow="clipboard-write *"></iframe>

<!-- Comment for Crossword 2 -->
<p><strong>Comment:</strong> My first ever puzzle! It's quite bad.</p>

<iframe style="height: 90vh; width: 100%;" src="https://crosshare.org/embed/SFAs9B4dD1DyajWQiXmX/tFZ2g5x0AoaseEOCX55dTZOaBXt2" frameborder="0" allowfullscreen="true" allowtransparency="true" allow="clipboard-write *"></iframe>
