---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">About Me</h3>
    {{ content }}
  </div>
  <div class="col-md-6">
    <style>
      .hover-image {
        display: block;
        transition: opacity 0.3s ease-in-out;
      }
      .hover-image:hover {
        content: url('{{ site.github.url }}/assets/img/poster-present.jpg');
      }
    </style>
    <img class="hover-image" src="{{ site.github.url }}/assets/img/mountain.jpg" alt="Home" width="100%">
  </div>
</div>

{% include publications.html %}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
    TEST
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
