---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Interesting Links</h3>

    <!-- Subsection Example -->
    <div class="mb-5">
      <h4 class="fw-bold border-bottom pb-2">Research</h4>
      <div class="list-group">
        <!-- Link Item -->
        <div class="list-group-item">
          <h5 class="mb-2 fw-semibold">
            <a href="https://ncatlab.org/nlab/show/HomePage" target="_blank" class="text-decoration-none">
              nLab
            </a>
          </h5>
          <p class="mb-2">a collaborative online platform for advanced topics in mathematics, physics, and computer science, with a focus on category theory, homotopy theory, and related areas.</p>
        </div>
        <!-- Add more links here -->
        <div class="list-group-item">
          <h5 class="mb-2 fw-semibold">
            <a href="https://leanprover-community.github.io/mathematics_in_lean/index.html" target="_blank" class="text-decoration-none">
              Mathematics in Lean
            </a>
          </h5>
          <p class="mb-2">a comprehensive online resource and tutorial for learning and using the Lean proof assistant to formalize mathematical concepts and proofs.</p>
        </div>
        <div class="list-group-item">
          <h5 class="mb-2 fw-semibold">
            <a href="https://complogic.cs.mcgill.ca/tutorial.pdf" target="_blank" class="text-decoration-none">
              Beginner's guide to Beluga
            </a>
          </h5>
          <p class="mb-2">an introductory resource for learning the Beluga proof assistant, focusing on its features for mechanizing formal systems with dependent types and bindings.</p>
        </div>
        <div class="list-group-item">
          <h5 class="mb-2 fw-semibold">
            <a href="https://forallx.openlogicproject.org/" target="_blank" class="text-decoration-none">
              forall x: Calgary
            </a>
          </h5>
          <p class="mb-2">an open-access textbook that provides an introduction to formal logic, tailored for students with no prior background, covering propositional and predicate logic.</p>
        </div>
      </div>
    </div>

    <!-- Another Subsection -->
    <div class="mb-5">
      <h4 class="fw-bold border-bottom pb-2">Bread and Circuses</h4>
      <div class="list-group">
        <!-- Link Item -->
        <div class="list-group-item">
          <h5 class="mb-2 fw-semibold">
            <a href="https://qntm.org/files/absurdle/absurdle.html" target="_blank" class="text-decoration-none">
              Absurdle
            </a>
          </h5>
          <p class="mb-2">a variation of Wordle designed to be intentionally adversarial.</p>
        </div>
        <!-- Add more links here -->
      </div>
      <div class="list-group-item">
        <h5 class="mb-2 fw-semibold">
          <a href="https://rexwordpuzzle.blogspot.com/" target="_blank" class="text-decoration-none">
            Rex Parker Does the NY Times Crossword Puzzle
          </a>
        </h5>
        <p class="mb-2">popular blog where Michael Sharp reviews and critiques the daily New York Times crossword puzzle </p>
      </div>
      <!-- Add more links here -->
      <div class="list-group-item">
        <h5 class="mb-2 fw-semibold">
          <a href="https://www.jmviz.dev/Phil/" target="_blank" class="text-decoration-none">
            Fork of Phil
          </a>
        </h5>
        <p class="mb-2">website I've used to make crosswords. Not sure if it is the best but I like the minimalist design.</p>
      </div>
      <div class="list-group-item">
        <h5 class="mb-2 fw-semibold">
          <a href="https://www.sbnation.com/a/17776-football" target="_blank" class="text-decoration-none">
            17776
          </a>
        </h5>
        <p class="mb-2"> a multimedia web series by Jon Bois that explores the future of football and humanity through a surreal narrative blending text, images, and videos, set in a world where humans have stopped aging and dying. It's awesome.</p>
      </div>
      <div class="list-group-item">
        <h5 class="mb-2 fw-semibold">
          <a href="https://www.qbreader.org/" target="_blank" class="text-decoration-none">
            QB Reader
          </a>
        </h5>
        <p class="mb-2"> Automatic Quizbowl question reader. Good practice for if you wanna start competing.</p>
      </div>
    </div>


    <!-- Add more subsections as needed -->

    <div class="mb-5">
      <h4 class="fw-bold border-bottom pb-2">Friends!</h4>
      <div class="list-group">
        <!-- Link Item -->
        <div class="list-group-item">
          <h5 class="mb-2 fw-semibold">
            <a href="https://elizabethvanoorschot.ca/" target="_blank" class="text-decoration-none">
              Elizabeth (not Liz) Van Oorschot
            </a>
          </h5>
        </div>
        <!-- Add more links here -->
    
      <div class="list-group-item">
        <h5 class="mb-2 fw-semibold">
          <a href="https://louismeunier.net/" target="_blank" class="text-decoration-none">
            Louis Meunier
          </a>
        </h5>
      </div>
      <!-- Add more links here -->
      <div class="list-group-item">
        <h5 class="mb-2 fw-semibold">
          <a href="https://natanel.ca/" target="_blank" class="text-decoration-none">
            Natanel Roizenman
          </a>
        </h5>
      </div>
      <div class="list-group-item">
        <h5 class="mb-2 fw-semibold">
          <a href="https://nicholashayek.com/" target="_blank" class="text-decoration-none">
            Nicholas Hayek
          </a>
        </h5>
      </div>
      <div class="list-group-item">
        <h5 class="mb-2 fw-semibold">
          <a href="/contact" class="text-decoration-none">
            You?
          </a>
        </h5>
      </div>
    </div>
    </div>
  </div>
</div>
